<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="TemplateGenerator" value="C:\Users\henst\source\repos\TemplateGenerator\TemplateGenerator\bin\Release" />
    <add key="EcsGenerator" value="C:\Users\henst\source\repos\EnCS v4\EnCS.Generator\bin\Release" />
    <add key="LightLexer" value="D:\4. Projects\1. CSharp\1. Visual Studio\Tokhenizer\LightLexer\bin\Release" />
    <add key="LightParser" value="D:\4. Projects\1. CSharp\1. Visual Studio\Tokhenizer\LightParser\bin\Release" />
  </packageSources>
</configuration>
